[Unit]
Description=Display Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/home/rohan/OrionGreeter/dm.sh

[Install]
WantedBy=multi-user.target
#Alias=dm.service
